<div class="list">

  {{ if or (eq .Section "posts") (eq .Section "authors") (eq .Section "categories") }}
  <h2 class="list-title">{{ i18n (.Title | lower) }}</h2>
  {{ else }}
  <h2 class="list-title">{{ .Title }}</h2>
  {{ end }}

  {{ if or (eq .Title "Authors") (eq .Title "Categories") }}
    {{ range .Paginator.Pages }}
      {{ partial "list-item-no-date.html" . }}
    {{ end }}
  {{ else }}
    {{ range .Paginator.Pages }}
      {{ partial "list-item.html" . }}
    {{ end }}
  {{ end }}

</div>
{{ partial "pagination.html" . }}
